:root {
  font-size: 100%;
  line-height: 1.5;
  box-sizing: border-box;
  --brand: #8a2be2;
  --dark: #561494;
  --darker: #22083a;
  font-family: Poppins, sans-serif;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
}

main {
  padding: 1rem;
  min-height: 100vh;
  height: 100%;
  background: url('./images/background.svg') no-repeat bottom / cover,
    var(--brand);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

h1 {
  font-weight: normal;
  font-size: 3rem;
}

.img {
  width: 100%;
  max-width: 450px;
  height: auto;
  display: inline-block;
  padding: 1rem;
  user-select: none;
}

.coming-soon {
  color: white;
  padding: 1rem 1rem 8rem 1rem;
  display: inline-block;
}

.coming-soon__time {
  font-size: 2rem;
}
