:root {
  font-size: 100%;
  line-height: 1.5;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
  --brand: #8a2be2;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
}

main {
  padding-top: 5rem;
  min-height: 100vh;
  width: 100%;
}

h1,
h2 {
  font-weight: normal;
  text-align: center;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

h2 {
  font-size: 3rem;
  color: white;
}

button {
  font-size: 100%;
  line-height: inherit;
  font-family: inherit;
  color: inherit;
  background-color: transparent;
  border: none;
}

button:hover {
  cursor: pointer;
}

.slider__wrap {
  min-width: 300px;
  width: 60vw;
  max-width: 900px;
  height: 50vh;
  margin: auto;
}

.slider__buttons {
  padding: 1rem;
  display: flex;
  justify-content: center;
  font-size: 1.25rem;
  width: 100%;
}

.slider__button {
  padding: 1rem;
  background-color: var(--brand);
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.disabled {
  opacity: 0.5;
}

.slider {
  width: 100%;
  height: 100%;
  border: 3px solid var(--brand);
  border-radius: 1rem;
  margin: auto;
  position: relative;
  overflow: hidden;
}

.slide {
  position: absolute;
  height: 100%;
  width: 100%;
  background-position: center center;
  /* background-attachment: fixed; */
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide:nth-child(1) {
  background-image: url('./images/bg-1.svg');
}

.slide:nth-child(2) {
  background-image: url('./images/bg-2.svg');
}

.slide:nth-child(3) {
  background-image: url('./images/bg-3.svg');
}
.slide:nth-child(4) {
  background-image: url('./images/bg-4.svg');
}
.slide:nth-child(5) {
  background-image: url('./images/bg-5.svg');
}
