:root {
  font-size: 100%;
  line-height: 1.5;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
  --brand: #8a2be2;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  background-color: #f0faff;
}

button {
  font-size: 100%;
  line-height: inherit;
  background-color: transparent;
  border: none;
}

button:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

.nav {
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  box-shadow: 0 9.5px 10px rgba(0, 0, 0, 0.025), 0 76px 80px rgba(0, 0, 0, 0.05);
}

.nav__crossbar {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  font-size: 1.75rem;
  font-weight: normal;
  color: var(--brand);
}

.nav__list {
  height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.nav__list--active {
  height: 10rem;
}

.nav__button {
  color: var(--brand);
  line-height: 1;
}

.nav__button-icon {
  font-size: 36px;
}

.nav__link:hover {
  color: var(--brand);
  border-bottom: 1px solid var(--brand);
}

@media screen and (min-width: 35rem) {
  .nav__list {
    display: flex;
    justify-content: space-between;
  }
  .nav__li {
    display: inline-block;
    margin-right: 1rem;
  }
  .nav__button {
    display: none;
  }
}
