/* || general styling */

:root {
  font-size: 100%;
  line-height: 1.5;
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

h1,
h2 {
  font-weight: normal;
  font-family: Merriweather, serif;
}

h1 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
}

button {
  font-size: 100%;
  font-family: inherit;
  background-color: transparent;
  line-height: inherit;
  overflow: visible;
  border: none;
}

button:hover {
  cursor: pointer;
}

ul {
  list-style-type: none;
}

main {
  min-width: 320px;
  width: 80%;
  max-width: 1140px;
  margin: 5rem auto;
}

/* || buttons */

.buttons__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 1rem;
}

.buttons__list > * {
  /* margin: 1rem; */
}

.btn {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: all 0.2s;
}

.btn:hover {
  background-color: rgba(0, 0, 0, 0.15);
}

/* || menu item */

.container {
  width: 100%;
  max-width: 100%;
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.item {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  padding: 1rem;
}

.item__image-wrap {
  width: 225px;
}

.item__image {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

.item__body {
  width: 100%;
}

.item__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.item__description {
  margin-top: 1rem;
}

@media screen and (min-width: 900px) {
  .item {
    grid-template-columns: 225px 1fr;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    grid-template-columns: 1fr 1fr;
  }
}
